.uk-modal.uk-open{
  display: block;
}
.uk-modal-title{
  margin: 0;
}

.uk-background-no-repeat{
  background-repeat: no-repeat !important;
}
.uk-background-cover{
  background-size:cover !important;
}

.hero-modal{
  padding: 100px 0;
}


.hero-modal-content{
  padding: 50px 0;
  background: rgba(0,0,0,.4);
  .uk-modal-title{
    font-size:36px;
  }
  .uk-icon{
    &:visited{
      color: red;
    }
  }
}

.uk-card-media-top{
  img{
    max-height:200px;
    margin: 0 auto;
    display: block;
  }
}
html{
  background: #f5f5f5;
}

.close-icon{
  padding: 5px;
  background: $primary-color;
  border-radius: 100%;
  margin: 20px;
  @include transition();
  &:hover{
    background: $secondary-color;
  }
}
.open-close{
  margin:20px;
  cursor: pointer;
}
.google-button{
  &:hover{
    background: $secondary-color;
  }
}